.faq-lista {
  grid-column: 2/4;
}

.faq-lista dt {
  font-family: var(--font-2);
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--color-2);
  cursor: pointer;
}

.faq-lista dt::before {
  display: inline-block;
  content: "";
  height: 10px;
  width: 20px;
  margin-right: 10px;
  background-color: var(--color-1);
}

.faq-lista dd {
  font-family: var(--font-1);
  margin-bottom: 0.5rem;
  margin-left: 30px;
}
